<div class="chat-message">
  <div class="avatar">
    <cognum-users-avatar [users]="[sender]"></cognum-users-avatar>
  </div>
  <div class="content">
    <div class="header">
      <div class="name cognum-heading-3">{{ sender.name }}</div>
      <div
        class="time cognum-font-color-grey-light"
        matTooltip="{{ message.createdAt | date : 'MM-dd-yyyy HH:mm:ss' }}"
        matTooltipPosition="above"
      >
        {{ utilsService.timeDifference(message.updatedAt) }}
      </div>
    </div>

    <div class="message">
      <markdown>
        {{ message.content }}
      </markdown>
    </div>
  </div>
</div>
