.chat-message {
  background-color: #fff;
  padding: 24px;
  display: flex;
  flex-direction: row;
  gap: 16px;

  .content {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .header {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 16px;
    }
  }
}
