<div class="page">
  <div class="header">
    <div class="">
      <h2>General Knowledge base</h2>
    </div>

    <div class="controls">
      <div class="sorting-buttons">
        <button *ngFor="let button of ['new', 'old', 'acess']" mat-stroked-button [ngClass]="{
            'active-button': activeButton === button,
            'inactive-button': activeButton !== button
          }" (click)="onButtonClick(button)">
          {{ button.charAt(0).toUpperCase() + button.slice(1) }}
        </button>
      </div>

      <cognum-search-bar (searchUpdated)="onSearch($event)" (searchCleared)="clearSearch()"></cognum-search-bar>

      <button mat-raised-button color="primary" (click)="onForm()" class="new-info-btn">
        <mat-icon>add</mat-icon>
        New Information
      </button>
    </div>
  </div>

  <div class="knowledges">
    <mat-card *ngFor="let knowledge of knowledgeBases" class="knowledge-card">
      <mat-card-header>
        <div class="header-title-subtitle" (click)="openKnowledgeModal(knowledge)">
          <mat-card-title>{{ knowledge.title }}</mat-card-title>
          <mat-card-subtitle>
            last updated {{ knowledge.updatedAt ? updatedTimeDifference(knowledge.updatedAt) : 'N/A' }}
          </mat-card-subtitle>
        </div>
        <knowledge-actions [knowledge]="knowledge" (knowledgeEdited)="handleKnowledgeEdited()"
          (knowledgeDeleted)="handleKnowledgeDeleted()">
        </knowledge-actions>
      </mat-card-header>
      <mat-card-content *ngIf="!knowledge.isFile" (click)="openKnowledgeModal(knowledge)">
        <p>{{ knowledge.description }}</p>
      </mat-card-content>
      <mat-card-content *ngIf="knowledge.isFile" class="file-card" (click)="openKnowledgeModal(knowledge)">
        <img src="../../../assets/icons/document.svg" alt="file document icon" title="File" />
        <span>{{ knowledge.description }}</span>
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngIf="knowledgeBases.length === 0">
    <p style="text-align: center">No knowledge found</p>
  </div>
</div>