.main {
  padding: 25px 30px;
  background-color: #f0f2f5;
  height: 100vh;

  h2 {
    margin-top: 0;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-container input {
  border: 1px solid #d9d9d9;
  font-size: 14px;
  padding: 0.3em;
}

.search-container button {
  border: 1px solid #d9d9d9;
  background-color: #fff;
  border-radius: 0;
  padding: 0.1em;
  width: 31px;
  height: 31px;

  &:hover {
    background-color: #c8c8c8;
    border-radius: 0;
  }
}

.knowledges {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
  margin-bottom: 80px;
  margin-top: 50px;
}

.knowledge-card {
  width: 100%;
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0.2em 1em;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  overflow: hidden;
  max-height: 248px !important;
}

.knowledge-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

.knowledge-card mat-card-header {
  margin-bottom: 1.1em;
}

.icon-button {
  margin-left: auto;
}

.active-button {
  color: #14b8a6 !important;
  border-color: #14b8a6 !important;
}

.search-bar {
  width: 100%;
  max-width: 400px;
  margin-top: -8px;
}
