<div class="header-container">
  <h2 mat-dialog-title>Choose Method</h2>
  <mat-dialog-actions align="end">
    <button mat-button (click)="closeModal()" class="close-btn">
      <mat-icon style="margin: 0;">close</mat-icon>
    </button>
  </mat-dialog-actions>
</div>
<mat-dialog-content>
  <p>How are you going to add this knowledge?</p>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button (click)="choose(options.File)">From File</button>
  <button mat-raised-button (click)="choose(options.Html)">From Web</button>
  <button mat-raised-button (click)="choose(options.Document)">Create a Document</button>
</mat-dialog-actions>