.title {
  line-height: 28px;
}

.column {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
}

.p-8 {
  padding: 0 8px;
}

.body {
  background-color: #f0f2f5;
  height: 100%;
  width: 100%;
}
