{
  "openapi": "3.0.0",
  "info": {
    "title": "Pokémon Berry API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://pokeapi.co"
    }
  ],
  "paths": {
    "/api/v2/berry/{id_or_name}": {
      "get": {
        "summary": "Get information about a specific berry",
        "parameters": [
          {
            "name": "id_or_name",
            "in": "path",
            "description": "ID or name of the berry",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with berry information",
            "content": {
              "application/json": {
                "example": {
                  "firmness": {
                    "name": "super-hard",
                    "url": "https://pokeapi.co/api/v2/berry-firmness/5/"
                  },
                  "flavors": [
                    {
                      "flavor": {
                        "name": "spicy",
                        "url": "https://pokeapi.co/api/v2/berry-flavor/1/"
                      },
                      "potency": 0
                    },
                    {
                      "flavor": {
                        "name": "dry",
                        "url": "https://pokeapi.co/api/v2/berry-flavor/2/"
                      },
                      "potency": 10
                    },
                    {
                      "flavor": {
                        "name": "sweet",
                        "url": "https://pokeapi.co/api/v2/berry-flavor/3/"
                      },
                      "potency": 0
                    },
                    {
                      "flavor": {
                        "name": "bitter",
                        "url": "https://pokeapi.co/api/v2/berry-flavor/4/"
                      },
                      "potency": 0
                    },
                    {
                      "flavor": {
                        "name": "sour",
                        "url": "https://pokeapi.co/api/v2/berry-flavor/5/"
                      },
                      "potency": 0
                    }
                  ],
                  "growth_time": 3,
                  "id": 2,
                  "item": {
                    "name": "chesto-berry",
                    "url": "https://pokeapi.co/api/v2/item/127/"
                  },
                  "max_harvest": 5,
                  "name": "chesto",
                  "natural_gift_power": 60,
                  "natural_gift_type": {
                    "name": "water",
                    "url": "https://pokeapi.co/api/v2/type/11/"
                  },
                  "size": 80,
                  "smoothness": 25,
                  "soil_dryness": 15
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/characteristic/{id}": {
      "get": {
        "summary": "Get information about Pokémon's Characteristic",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the characteristic",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with characteristic information",
            "content": {
              "application/json": {
                "example": {
                  "descriptions": [
                    {
                      "description": "たべるのが　だいすき",
                      "language": {
                        "name": "ja-Hrkt",
                        "url": "https://pokeapi.co/api/v2/language/1/"
                      }
                    },
                    {
                      "description": "먹는 것을 제일 좋아함",
                      "language": {
                        "name": "ko",
                        "url": "https://pokeapi.co/api/v2/language/3/"
                      }
                    },
                    {
                      "description": "非常喜歡吃東西",
                      "language": {
                        "name": "zh-Hant",
                        "url": "https://pokeapi.co/api/v2/language/4/"
                      }
                    },
                    {
                      "description": "Il adore manger",
                      "language": {
                        "name": "fr",
                        "url": "https://pokeapi.co/api/v2/language/5/"
                      }
                    },
                    {
                      "description": "Liebt es zu essen",
                      "language": {
                        "name": "de",
                        "url": "https://pokeapi.co/api/v2/language/6/"
                      }
                    },
                    {
                      "description": "Le encanta comer",
                      "language": {
                        "name": "es",
                        "url": "https://pokeapi.co/api/v2/language/7/"
                      }
                    },
                    {
                      "description": "Adora mangiare",
                      "language": {
                        "name": "it",
                        "url": "https://pokeapi.co/api/v2/language/8/"
                      }
                    },
                    {
                      "description": "Loves to eat",
                      "language": {
                        "name": "en",
                        "url": "https://pokeapi.co/api/v2/language/9/"
                      }
                    },
                    {
                      "description": "食べるのが　大好き",
                      "language": {
                        "name": "ja",
                        "url": "https://pokeapi.co/api/v2/language/11/"
                      }
                    },
                    {
                      "description": "非常喜欢吃东西",
                      "language": {
                        "name": "zh-Hans",
                        "url": "https://pokeapi.co/api/v2/language/12/"
                      }
                    }
                  ],
                  "gene_modulo": 0,
                  "highest_stat": {
                    "name": "hp",
                    "url": "https://pokeapi.co/api/v2/stat/1/"
                  },
                  "id": 1,
                  "possible_values": [0, 5, 10, 15, 20, 25, 30]
                }
              }
            }
          }
        }
      }
    }
  }
}
