<div class="chat">
  <div
    class="messages"
    #chatContent
    [ngClass]="{ 'no-messages-visible': chatService.messages.length === 0 }"
  >
    <div class="messages-wrapper">
      <!-- Skeleton loader -->
      <!-- <div class="skeleton" *ngIf="chatService.loadingMessages">
        <ng-container *ngFor="let _ of [].constructor(15)">
          <ngx-skeleton-loader
            class="message"
            style="height: 40px; width: 95%; padding: 10px"
            appearance="line"
            animation="pulse"
          />
        </ng-container>
      </div> -->

      <!-- No messages -->
      <div class="no-messages" *ngIf="chatService.messages.length === 0">
        <p>Start a new chat with</p>
        <img
          class="avatar"
          [src]="aiEmployee.avatar || '../../../../../assets/icons/avatar.svg'"
          alt="workspace photo"
        />
        <p class="employee-name">{{ aiEmployee.name }}</p>
      </div>

      <!-- Messages -->
      <div class="chat-messages">
        <cognum-chat-message
          [message]="message"
          *ngFor="let message of chatService.messages"
        ></cognum-chat-message>
        <cognum-chat-message
          *ngIf="chatService.tempMessage"
          [message]="chatService.tempMessage"
        ></cognum-chat-message>
      </div>
    </div>
  </div>

  <div class="text-field">
    <form class="form-wrapper" (ngSubmit)="onSubmit(f)" #f="ngForm">
      <button
        class="icon material-symbols-outlined"
        matTooltip="Send message"
        type="submit"
      >
        send
      </button>
      <input
        type="text"
        ngModel
        name="message"
        placeholder="Send a message..."
        required
        #inputMessage
      />
    </form>
  </div>
</div>
