.your-team {
  display: flex;
  flex-direction: column;
  align-items: center;

  .buttons {
    display: flex;
    gap: 20px;
    padding: 16px 0;

    .skip {
      border: none;
      background-color: #f0f2f5;
      color: #00000073;
    }

    .invite {
      border: 1px solid black;
      background-color: #f0f2f5;
      color: black;
      padding: 7px 12px;
      font-weight: 400;
    }

    .submit-button {
      background-color: #14b8a6;
      border: none;
      padding: 10px 30px;
      border-radius: 2px;
      font-family: 'Outfit', sans-serif;
      font-weight: 400;
      font-style: normal;
      color: #ffffff;

      &:disabled {
        background: #dddddd;
        border: none;
        cursor: not-allowed;
      }
    }
  }

  .white-content {
    border-radius: 2px;
    width: 720px;
    padding: 20px;
    background-color: white;

    .input-style {
      width: 100%;
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 8px;
      transition: border-color 0.3s;
      margin-bottom: 8px;
    }

    .update-content {
      display: flex;
      align-items: center;
      gap: 25px;
    }

    .gray-content {
      cursor: pointer;
      position: relative;
      width: 126px;
      height: 124px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #f0f2f5;
      border: 1px dotted #bfbfc2;

      p {
        color: #00000073;
      }
      .workspaceImage {
        position: absolute;
        width: calc(100% - 0rem);
        height: calc(100% - 0rem);
        object-fit: cover;
        border: none;
      }
    }
  }

  .warning-message {
    color: red;
  }
}
