<form [formGroup]="teamForm" (ngSubmit)="onSubmit()">
  <div class="your-team">
    <h1 *ngIf="!!workspace">Who else is on the {{ workspace.name }} team?</h1>
    <p>
      Adding your name and profile photo helps your teammates recognize and
      connect with you more easily.
    </p>
    <div class="white-content">
      <p class="cognum-headline-4">Add coworkers by email</p>
      <input
        class="input-style"
        formControlName="emails"
        placeholder="Ex. joe@potato.ai, mary@potato.ai"
      />
    </div>
    <div
      *ngIf="
        teamForm.get('emails') &&
        teamForm.get('emails')?.hasError('invalidEmail') &&
        teamForm.get('emails')?.touched
      "
      class="warning-message"
    >
      Invalid email address. Please enter valid email addresses separated by
      commas.
    </div>

    <div class="buttons">
      <button class="invite" (click)="prevStep()">Prev</button>
      <button [disabled]="!teamForm.valid" class="submit-button" type="submit">
        Next
      </button>
      <button class="invite">Copy invite link</button>
      <button class="skip" (click)="skipStep()">Skip this step</button>
    </div>
  </div>
</form>
