.header {
  display: flex;
  flex: 1;
  align-items: flex-start;
  padding: 20px 24px;
}

.header-description {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 5px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  gap: 8px;
}

.description-style {
  height: 150px;
  overflow-y: hidden;
  width: 100%;
  border: 1px solid #8e8ea0;
  border-radius: 0.375rem;
}

table {
  td {
    padding-bottom: 8px;
  }

  input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
}

.selectedUsers {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: left;
  align-items: baseline;
  gap: 8px;
}

.trash {
  color: red;
  font-size: 16px;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 12px;
}

.registerError {
  width: 100%;
}

.bold {
  font-weight: bold;
}
