.sidenav-chat {
  height: 100%;
  border-left: 1px solid #e1e1e1;
  box-shadow: 0px 8px 2px 0px rgba(0, 0, 0, 0.15);
  font-family: 'Outfit', sans-serif;

  mat-drawer {
    padding-top: 1em;
    padding-bottom: 1em;
    width: 162px;
  }

  .chat-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
    
  .button-content {
    display: flex;
    flex-direction: row;
    
    p {
      flex: 1;
      max-width: 80%;
      overflow-x: hidden;
    }
  
    mat-icon {
      width: 19px;
      height: 19px;
      color: red;
    }
  }

  .chat-item.selected {
    background-color: rgba(240, 253, 250, 1);
    cursor: pointer;
  }

  .chat-item.selected .text-gray {
    color: rgba(20, 184, 166, 1) !important;
  }
}


p {
  margin-bottom: 0 !important;
}
.text-gray {
  color: rgba(0, 0, 0, 0.45) !important;
}

.text-12 {
  font-size: 12px;;
}

.text-14 {
  font-size: 14px;
}

// .sidenav-chat {
//   border-left: 1px solid #e1e1e1;
//   box-shadow: 0px 8px 2px 0px rgba(0, 0, 0, 0.15);
//   font-family: 'Outfit', sans-serif;

//   mat-drawer {
//     padding-top: 1em;
//     padding-bottom: 1em;
//   }

//   .chat-item {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//   }

//   .button-content {
//     display: flex;
//     flex-direction: row;
  
//     p {
//       flex: 1;
//       max-width: 80%;
//       overflow-x: hidden;
//     }

//     mat-icon {
//       width: 19px;
//       height: 19px;
//       color: red;
//     }
//   }


//   .chat-item.selected {
//     background-color: rgba(240, 253, 250, 1);
//     cursor: pointer;
//   }

//   .chat-item.selected .text-gray {
//     color: rgba(20, 184, 166, 1) !important;
//   }
// }

