<div class="text-container">
  <h3>Workspace members</h3>
</div>

<div class="members" [routerLink]="['./', workspace._id, 'settings']">
  <div
    class="item"
    *ngFor="let member of showMembers; let i = index"
    [style.background-color]="member.backgroundColor"
  >
    <img *ngIf="member.photo" [src]="member.photo" />
    <span *ngIf="!member.photo" class="initials">
      {{ member.initials }}
    </span>
  </div>
  <div class="item" *ngIf="remainingUsersCount > 0">
    <div class="more-users">{{ remainingUsersCount }}+</div>
  </div>
  <div class="item icon">
    <mat-icon svgIcon="whiteUser"></mat-icon>
  </div>
</div>
