.layout {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;

  .menu {
    z-index: 1;
  }

  .main {
    flex: 1;
    min-height: 100%;
    overflow-y: scroll;
  }
}
