<header>
  <div class="left">
    <mat-icon
      *ngIf="showBackButton"
      aria-hidden="false"
      aria-label="Return"
      svgIcon="arrow-left"
      class="back"
      (click)="onBack()"
    ></mat-icon>
    <div class="logo" *ngIf="logo">
      <img [src]="logo" />
    </div>
    <div class="title cognum-heading-3" *ngIf="title">
      {{ title }}
    </div>
    <ng-content select="[left]"></ng-content>
  </div>
  <div class="right">
    <ng-content select="[right]"></ng-content>
  </div>
</header>
