<div class="background">
  <div class="intro font-outfit">
    <div class="logo">
      <mat-icon svgIcon="logo"></mat-icon>
      <span>Cognum</span>
    </div>

    <div class="password-text">
      <h1>Password reset</h1>
      <p>Enter your new password for your Cognum account.</p>
    </div>
  </div>

  <form [formGroup]="recoverForm" (ngSubmit)="onSubmit()" class="form">
    <label for="password">New password</label>

    <div class="input">
      <mat-icon class="lock" svgIcon="lock"></mat-icon>
      <input
        id="password"
        formControlName="password"
        placeholder="****"
        type="password"
      />
    </div>
    <div
      *ngIf="
        recoverForm.get('password')?.invalid &&
        recoverForm.get('password')?.touched
      "
    >
      <small
        class="error"
        *ngIf="recoverForm.get('password')?.errors?.['required']"
        >Password is required.</small
      >
      <small
        class="error"
        *ngIf="recoverForm.get('password')?.errors?.['minlength']"
      >
        Password must be at least 6 characters long.
      </small>
      <small
        class="error"
        *ngIf="!recoverForm.get('password')?.errors?.['minlength'] && recoverForm.get('password')?.errors?.['pattern']"
      >
        Must contain lowercase and uppercase letters, numbers and special
        characters (!@#$*.,).
      </small>
    </div>

    <label for="confirm">Confirm new password</label>

    <div class="input">
      <mat-icon class="lock" svgIcon="lock"></mat-icon>
      <input
        id="confirm"
        formControlName="confirm"
        placeholder="****"
        type="password"
      />
    </div>
    <div
      *ngIf="
        recoverForm.get('confirm')?.invalid &&
        recoverForm.get('confirm')?.touched
      "
    >
      <small
        class="error"
        *ngIf="recoverForm.get('confirm')?.errors?.['required']"
        >Confirm password is required.</small
      >
      <small
        class="error"
        *ngIf="recoverForm.get('confirm')?.errors?.['match_error']"
      >
        Password and confirm fields must be equals.
      </small>
    </div>

    <button [disabled]="recoverForm.invalid || submitting" type="submit">
      Reset Password
    </button>
  </form>

  <footer>
    <p>
      By clicking “Continue with Apple/Google/Email/SAML” above, you acknowledge
      that you have read and understood, and agree to Notion's Terms &
      Conditions and Privacy Policy.
    </p>
  </footer>
</div>
