<cognum-header [showBackButton]="true">
  <ng-container left>
    <div class="user-info-group">
      <div class="header-style">
        <img class="image-style" [src]="user.photo" alt="User Image" />
        <span class="title cognum-heading-3">{{ user.name }}</span>
      </div>
    </div>
  </ng-container>
</cognum-header>

<div class="body">
  <div class="description">
    <h1 class="page-title">Settings</h1>
    <span class="page-text"
      >Adjust account-wide settings and preferences here for
      {{ user.name }}</span
    >
    <div class="cognum-white-content-w720 without-padding">
      <div class="cognum-mb-0">
        <cognum-tab-navigator [navs]="navs"></cognum-tab-navigator>
      </div>
      <!-- <router-outlet></router-outlet> -->

      <form [formGroup]="updateForm">
        <div class="row">
          <div class="name-container">
            <span class="cognum-headline-4">Your name</span>
            <div class="name-row">
              <div class="form-row">
                <input
                  formControlName="name"
                  class="input-name"
                  type="name"
                  placeholder="Your full name"
                  [value]="user.name"
                  (change)="onSubmit()"
                />
                <mat-error
                  *ngIf="hasInputError('name', 'required')"
                  class="cognum-text-12 warning-message"
                >
                  Name field is required
                </mat-error>
                <div
                  *ngIf="hasInputError('name', 'minlength')"
                  class="cognum-text-12 warning-message"
                >
                  Name must be at least 6 characters long.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="name-container">
            <span class="cognum-headline-4">Your profile photo (optional)</span>
            <cognum-upload-image
              [image]="user.photo || ''"
              [parentId]="user._id"
              fieldName="photo"
              folder="users"
              (finishedUpload)="updatePhoto($event)"
            ></cognum-upload-image>
          </div>
        </div>
      </form>
      <div class="footer">
        <div>
          <span class="cognum-headline-4">Delete your account</span>
          <button class="button">delete it</button>
        </div>
        <span
          >Are you sure you want to permanently delete your account? This action
          cannot be undone, and all your data will be lost.</span
        >
      </div>
    </div>
  </div>
</div>
