<button
  class="profile"
  mat-button
  [ngClass]="{ active: isActivedMenu }"
  (click)="onBack()"
>
  <div class="content">
    <mat-icon
      aria-hidden="false"
      aria-label="Return"
      svgIcon="arrow-left"
      class="back small"
    ></mat-icon>
    <div class="photo-container">
      <img class="photo" [src]="workspacePhoto" />
      <img class="photo-rounded" [src]="employee.avatar" />
      <span class="cognum-heading-4 congum-font-strong truncate">{{
        employee.name
      }}</span>
    </div>
  </div>
</button>

<mat-menu
  class="cognum-menu-profile"
  #menu="matMenu"
  (closed)="isActivedMenu = false"
>
</mat-menu>
