<form [formGroup]="aiEmployeeForm" (ngSubmit)="onSubmit()">
  <div class="workspace">
    <div class="cognum-lead">What you need help with?</div>

    <div class="cognum-white-content-w720 form-container">
      <div class="cognum-form-row-4">
        <span class="cognum-headline-4">
          Create a short description for you AI employee
        </span>
        <input
          class="input-style"
          formControlName="description"
          name="aiEmployeeDescription"
          placeholder="Ex. marketing specialist, customer support..."
        />
        <mat-error
          class="cognum-text-12 warning-message"
          *ngIf="hasInputError('description', 'required')"
        >
          Description field is required
        </mat-error>
      </div>

      <div class="cognum-form-row-4">
        <span class="cognum-headline-4">Give your AI employee a name</span>
        <input
          class="input-style"
          formControlName="name"
          name="aiEmployeeName"
          placeholder="Ex. Adam"
        />
        <mat-error
          class="cognum-text-12 warning-message"
          *ngIf="hasInputError('name', 'required')"
        >
          Name field is required
        </mat-error>
      </div>
    </div>

    <div class="cognum-white-content-w720 form-container">
      <span class="cognum-headline-4">Select your AI employee avatar</span>
      <div class="avatar">
        <div
          *ngFor="let avatar of availableAvatars"
          (click)="selectAvatar(avatar)"
          [ngClass]="{ 'avatar-selected': selectedAvatar === avatar }"
        >
          <img [src]="avatar" alt="avatar" />
        </div>
      </div>
    </div>

    <button
      type="submit"
      mat-button
      class="cognum-form-buttons-submit"
      [disabled]="!aiEmployeeForm.valid || isLoading"
    >
      {{ submitMessage }}
    </button>
  </div>
</form>
