<div mat-dialog-title class="header">
  <div class="header-description">
    <i id="feedback-icon" aria-hidden="true"></i>
    <strong class="modal-title">Provide additional feedback</strong>
  </div>
</div>
<mat-dialog-content>
  <form [formGroup]="form">
    <textarea
      type="text"
      class="suggest-style"
      placeholder="What do you like about the response?"
      formControlName="suggestions"
      #inputSuggestions
    ></textarea>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" (click)="onSubmit()">
    Submit feedback
  </button>
</mat-dialog-actions>
