@import '../../../styles/cognum.variables.scss';

.margin {
  margin: 1.2rem;
}

.cognum-page {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding-top: 60px;
  padding-bottom: 20px;

  .login-container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url('../../../assets/background/login_bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
  

    .form-container {
      display: flex;
      flex-direction: column;
      max-width: 550px;
      justify-content: space-between;

      .title-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        padding: 16px;
      }
          
      .logo {
        width: 50px;
        min-width: 20px;
        height: 50px;
        min-height: 20px;
      }

      .company-style {
        color: rgba(0, 0, 0, 0.85);
        font-size: 2.0625rem;
        font-weight: 600;
        line-height: 2.375rem;
        letter-spacing: 0.01031rem;
      }

      .help-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 8px;

        p {
          color: rgba(0, 0, 0, 0.85);
          font-size: 2.375rem;
          font-weight: 500;
          line-height: 2.875rem;
        }

        small {
          color: rgba(0, 0, 0, 0.45);
          font-size: 0.875rem;
          font-weight: 400;
          line-height: 1.375rem;
        }
      }

      .login-form {
        display: flex;
        flex: 1;
        flex-direction: column;
        margin-top: 32px;
        gap: 16px;
        align-self: center;
        width: 24.375rem;
        max-width: 500px;
      }

      .mat-item-wrap {
        width: 100%;
        --mdc-filled-text-field-container-color: #f0f0f0;
      }

      .mat-input-style {
        display: flex;
        align-items: center;
        border: 1px solid #D9D9D9; 
        border-radius: 2px; 
        background-color: #FFF;
        width: 100%;
        height: 40px;
        padding: 8px 12px 8px 12px;
        border-radius: 2px;
        border: 1px;
        gap: 8px;
      }

      .mat-input-style input {
        margin: 0;
        padding: 0;
      }
      
      .mat-input-style mat-icon {
        margin-right: 6px; 
        color: $cognum-color-primary; 
        font-size: 14px;
        height: 14px;
        width: 14px;
      }
      
      .mat-input-style input {
        flex: 1;
        border: none;
        outline: none;
        width: 100%;
      }

      .errorContainer {
        text-align: center;
        font-weight: 400;
        color: #d9534f;
      }

      .button-submit {
        height: 2.5rem;
        border-radius: 0.125rem;
        border: 1px solid $cognum-color-primary; 
        background: $cognum-color-primary; 
        box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
        color: #fff;
        text-align: center;
        padding: 6.4px 15px 6.4px 15px;
        line-height: 1.5rem;
        font-size: 16px;
      }

      .button-submit:disabled {
        background: #dddddd;
        border: none;
        cursor: not-allowed;
      }
    }

    .register {
      text-align: center;
      font-size: 0.875rem;
      color: $cognum-color-grey;
      cursor: pointer;
      margin-top: 16px;
    }

    .register span,
    .footer label span {
      color: $cognum-color-primary;
    }

    .footer {
      color: $cognum-color-grey;
      text-align: center;
      font-size: 0.875rem;
      line-height: 1.375rem;
    }

    @media screen and (max-width: 400px) {
      .footer {
        font-size: 0.7rem;
      }
    }
  }
}

