<cognum-header
  [logo]="workspace.photo || '../../../assets/icons/icon.png'"
  [title]="workspace.name || 'cognum'"
  [showBackButton]="true"
>
  <ng-container right>
    <cognum-users-avatar [users]="[user]"></cognum-users-avatar>
    {{ user.name }}
  </ng-container>
</cognum-header>

<div class="body">
  <div class="description">
    <h1>Settings</h1>
    <span
      >Adjust workspace-wide settings and preferences here for
      {{ workspace.name || 'Workspace' }}</span
    >
    <div class="cognum-white-content-w720 without-padding">
      <div class="cognum-mb-0">
        <cognum-tab-navigator [navs]="navs"></cognum-tab-navigator>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
