<div class="menu">
  <header>
    <cognum-menu-workspace-profile></cognum-menu-workspace-profile>

    <div class="divisor"></div>

    <div class="pad">
      <div class="cognum-text">Workspace usage</div>
      <cognum-menu-workspace-usage [usage]="30"></cognum-menu-workspace-usage>
    </div>

    <div class="divisor"></div>

    <div class="pad">
      <div class="cognum-text">Workspace members</div>
      <cognum-users-avatar
        [routerLink]="['./', workspace._id, 'settings']"
        [users]="users"
        [showAdd]="true"
      ></cognum-users-avatar>
    </div>

    <div class="divisor"></div>

    <cognum-menu-items></cognum-menu-items>
  </header>

  <footer>
    <div>
      <button mat-menu-item>
        <div class="account" routerLink="/account">
          <cognum-users-avatar [users]="[user]"></cognum-users-avatar>
          <div class="cognum-text truncate">
            {{ user.name }}
          </div>
        </div>
      </button>
    </div>
  </footer>

  <!-- <mat-sidenav-container
    class="sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
    role="link"
  >
    <mat-sidenav-content class="nav-content">
      <cognum-menu-workspace-profile></cognum-menu-workspace-profile>

      <div class="workspace-info">
        <div class="full-width">
          <div class="text-container">
            <h3>Workspace usage</h3>
          </div>

          <cognum-menu-workspace-usage
            [usage]="50"
          ></cognum-menu-workspace-usage>

          <div class="divider"><hr /></div>
        </div>

        <div class="full-width">
          <div class="text-container">
            <h3>Workspace members</h3>
          </div>
          <cognum-users-avatar
            [routerLink]="['./', workspace._id, 'settings']"
            [users]="users"
          ></cognum-users-avatar>
          <div class="divider"><hr /></div>
        </div>
      </div>

      <cognum-menu-items></cognum-menu-items>

      <div class="account" routerLink="/account">
        <img [src]="user.photo" />
        <h3>{{ user.name }}</h3>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <mat-toolbar class="workspace-info menu-footer">
    <img src="../../../assets/icons/logout.svg" title="LogOut" />
  </mat-toolbar> -->
</div>
