<div class="menu" [class.is-mobile]="mobileQuery.matches" role="link">
  <mat-toolbar class="menu-header" (click)="toggleMenu()" mat-icon-button>
    <div class="info-container" *ngIf="!isLoading">
      <img [src]="photo" />
      <strong class="font-outfit">{{ name }}</strong>
    </div>
  </mat-toolbar>

  <div class="cdk-overlay-container" *ngIf="showMenu">
    <div
      class="cdk-overlay-backdrop cdk-overlay-transparent-backdrop cdk-overlay-backdrop-showing"
      (click)="toggleMenu()"
    ></div>
    <div
      class="cdk-overlay-connected-position-bounding-box"
      style="top: 0rem; left: 12.5rem"
    >
      <div class="cdk-overlay-pane auth-menu">
        <div (click)="onLink(workspaceId + '/settings')">
          <img src="../../../assets/icons/setting.svg" alt="Settings" />
          <span class="font-outfit">settings</span>
        </div>
        <div (click)="onReturn()">
          <img src="../../../assets/icons/swap.svg" alt="Switch workspace" />
          <span class="font-outfit">switch workspace</span>
        </div>
      </div>
    </div>
  </div>

  <mat-sidenav-container
    class="sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
    role="link"
  >
    <mat-sidenav-content class="nav-content">
      <div class="workspace-info">
        <div class="full-width">
          <div class="text-container">
            <strong class="font-outfit">Workspace usage</strong>
          </div>

          <div class="usage">
            <mat-progress-bar
              mode="determinate"
              value="30"
              class="full-width"
            ></mat-progress-bar>
            <strong class="font-outfit">30%</strong>
          </div>

          <div class="divider"><hr /></div>
        </div>

        <div class="full-width">
          <div class="text-container">
            <strong class="font-outfit">Workspace members</strong>
          </div>

          <div class="members">
            <ng-container *ngFor="let user of usersId; let i = index">
              <ng-container *ngIf="i < 2">
                <ng-container *ngIf="user.profilePhoto">
                  <img [src]="user.profilePhoto" />
                </ng-container>
                <ng-container *ngIf="!user.profilePhoto">
                  <div class="initials" [style.background-color]="background">
                    {{ getInitials(user.name) }}
                  </div>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="i === 2">
                <button (click)="showAllUsers = true">
                  {{ usersId.length - 2 }}+ mais
                </button>
              </ng-container>
              <ng-container *ngIf="i === 3 && showAllUsers">
                <div class="add-user">
                  <button>Adicionar Usuário</button>
                </div>
              </ng-container>
            </ng-container>
          </div>

          <div class="divider"><hr /></div>
        </div>
      </div>

      <div class="workspaces-links">
        <div
          class="menu-item"
          id="overview"
          (click)="onItemChange('overview')"
          [ngClass]="{ active: currentPath === 'overview' }"
        >
          <div class="icon">
            <img src="../../../assets/icons/home.svg" title="Overview" />
          </div>
          <div class="content">
            <span class="font-outfit">Overview</span>
          </div>
        </div>

        <div
          class="menu-item"
          id="employees"
          (click)="onItemChange('employees')"
          [ngClass]="{ active: currentPath === 'employees' }"
        >
          <div class="icon">
            <img src="../../../assets/icons/robot.svg" title="AI employees" />
          </div>
          <div class="content">
            <span class="font-outfit">AI employees</span>
          </div>
        </div>

        <div
          class="menu-item"
          id="history"
          (click)="onItemChange('history')"
          [ngClass]="{ active: currentPath === 'history' }"
        >
          <div class="icon">
            <img src="../../../assets/icons/clock.svg" title="History" />
          </div>
          <div class="content">
            <span class="font-outfit">History</span>
          </div>
        </div>

        <div
          class="menu-item"
          id="knowledge"
          (click)="onItemChange('knowledge')"
          [ngClass]="{ active: currentPath === 'knowledge' }"
        >
          <div class="icon">
            <img
              src="../../../assets/icons/database.svg"
              title="Knowledge base"
            />
          </div>
          <div class="content">
            <span class="font-outfit">Knowledge base</span>
          </div>
        </div>
      </div>

      <div class="personal-data">
        <img [src]="userPhoto" />
        <div class="person-name">
          <strong class="font-outfit">{{ username }}</strong>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <mat-toolbar class="workspace-info menu-footer">
    <img
      src="../../../assets/icons/logout.svg"
      title="LogOut"
      (click)="onLogOut()"
    />
  </mat-toolbar>
</div>
