<h2 mat-dialog-title>Settings: {{ tool.name }}</h2>
<mat-dialog-content>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Host</mat-label>
      <input formControlName="host" matInput />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Port</mat-label>
      <input formControlName="port" matInput />
    </mat-form-field>
    <div>
      <mat-checkbox color="primary" formControlName="secure">
        Secure
      </mat-checkbox>
    </div>

    <div class="cognum-heading-2">Auth</div>
    <div formGroupName="auth">
      <mat-form-field>
        <mat-label>User</mat-label>
        <input formControlName="user" matInput />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input formControlName="pass" matInput />
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="onSubmit()" [disabled]="!formGroup.valid">
    Save
  </button>
</mat-dialog-actions>
