<div class="cognum-page">
  <header>
    <div class="left cognum-heading-1">AI employees</div>
    <div class="right">
      <cognum-search-bar></cognum-search-bar>

      <button
        (click)="createEmployee()"
        mat-raised-button
        class="cognum-button"
        color="primary"
      >
        <mat-icon>add</mat-icon>
        New AI employee
      </button>
    </div>
  </header>
</div>

<div class="main">
  <div class="header">
    <div class="title">
      <h2>AI employee list</h2>
    </div>
    <div class="filters">
      <div class="sorting-buttons">
        <button
          mat-stroked-button
          [ngClass]="{
            'active-button': activeButton === 'newFirst',
            'inactive-button': activeButton !== 'newFirst'
          }"
          (click)="onButtonClick('newFirst')"
        >
          New first
        </button>
        <button
          mat-stroked-button
          [ngClass]="{
            'active-button': activeButton === 'oldFirst',
            'inactive-button': activeButton !== 'oldFirst'
          }"
          (click)="onButtonClick('oldFirst')"
        >
          Old first
        </button>
        <button
          mat-stroked-button
          [ngClass]="{
            'active-button': activeButton === 'mix',
            'inactive-button': activeButton !== 'mix'
          }"
          (click)="onButtonClick('mix')"
        >
          Mix
        </button>
      </div>

      <div class="search-container">
        <input
          type="text"
          [(ngModel)]="searchText"
          (keyup)="onSearch($event)"
          placeholder="Search..."
          class="search-input"
        />
        <button
          *ngIf="!searchText"
          mat-icon-button
          aria-label="Clear"
          (click)="clearSearch()"
        >
          <mat-icon>search</mat-icon>
        </button>
        <button
          *ngIf="searchText"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="clearSearch()"
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>

      <button (click)="createEmployee()" mat-raised-button color="primary">
        <mat-icon>add</mat-icon>
        New AI employee
      </button>
    </div>
  </div>

  <div class="content">
    <div class="list">
      <div class="white-content" *ngFor="let employee of employees">
        <div class="ai-employee">
          <img [src]="employee.avatar" alt="" />
          <div class="description">
            <p>{{ employee.name }}</p>
            <p>{{ employee.role }}</p>
          </div>
        </div>
        <div class="buttons">
          <button class="subject">Chat Subject</button>
          <button class="new">New Chat</button>
        </div>
        <div class="menu">
          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu"
          >
            <mat-icon>more_horizon</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button (click)="editEmployee(employee)" mat-menu-item>
              <mat-icon>border_color</mat-icon>
              <span>edit</span>
            </button>
            <button (click)="deleteEmployee(employee)" mat-menu-item>
              <mat-icon>delete_outline</mat-icon>
              <span>delete</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
