<mat-dialog-content>
  <div class="dialog-header">
    <h2 class="title">{{ job.name }}</h2>
    <div class="actions-container">
      <p class="mat-mdc-card-subtitle">
        last updated
        {{ job.updatedAt ? updatedTimeDifference(job.updatedAt) : 'N/A' }}
      </p>
      <ng-container>
        <cognum-job-actions [job]="job">
          (jobEdited)="handleKnowledgeEdited()"
          (jobDeleted)="handleKnowledgeDeleted()"
        </cognum-job-actions>
        <mat-dialog-actions align="end">
          <button mat-button (click)="closeModal()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-dialog-actions>
      </ng-container>
    </div>
  </div>
  <div class="job-data">
    <span class="cognum-heading-4 title">Instructions</span>
    <p>{{ job.instructions }}</p>
    <span class="cognum-heading-4 title">Frequency</span>
    <p>{{ job.frequency }}</p>
    <span class="cognum-heading-4 title">Status</span>
    <p>{{ job.status }}</p>
  </div>
</mat-dialog-content>
