<div class="chat">
  <div class="messages" #chatContent>
    <div class="messages-wrapper">
      <!-- Skeleton loader -->
      <div class="skeleton" *ngIf="chatService.loadingMessages">
        <ng-container *ngFor="let _ of [].constructor(15)">
          <ngx-skeleton-loader
            class="message"
            style="height: 40px; width: 95%; padding: 10px"
            appearance="line"
            animation="pulse"
          />
        </ng-container>
      </div>

      <!-- No messages -->
      <div
        class="no-messages"
        *ngIf="
          !chatService.loadingMessages && chatService.messages.length === 0
        "
      >
        No messages yet. Start a conversation by typing a message below.
      </div>

      <!-- Messages -->
      <div
        class="message-wrapper"
        [ngClass]="{
          ai: message.role === 'AI',
          human: message.role === 'HUMAN',
          system: message.role === 'SYSTEM'
        }"
        *ngFor="let message of chatService.messages"
      >
        <div
          class="message"
          [ngClass]="{
            ai: message.role === 'AI',
            human: message.role === 'HUMAN',
            system: message.role === 'SYSTEM'
          }"
        >
          <div class="header">
            <div class="from">
              <span *ngIf="message.role === 'HUMAN'">{{
                chatService.user.name
              }}</span>
              <span *ngIf="message.role === 'AI'">{{
                chatService.aiEmployee.name
              }}</span>
              <span *ngIf="message.role === 'SYSTEM'">SYSTEM</span>
            </div>

            <div class="date">
              <div
                class="material-symbols-outlined icon"
                matTooltip="{{
                  message.createdAt | date : 'dd/MM/yyyy HH:mm:ss'
                }}"
              >
                schedule
              </div>
            </div>
          </div>

          <div class="content">
            <markdown
              *ngIf="message.role === 'HUMAN' || message.role === 'AI'"
              >{{ message.content }}</markdown
            >
            <div *ngIf="message.role === 'SYSTEM'">
              <div *ngIf="message.content.action">
                <strong>Action: </strong>{{ message.content.action }}
              </div>
              <div *ngIf="message.content.thought">
                <strong>Thought: </strong>{{ message.content.thought }}
              </div>
            </div>
          </div>
        </div>

        <!-- Unrated message -->
        <div
          class="rating-wrapper"
          *ngIf="
            message.role === 'AI' && isUnratedMessage(message._id);
            else ratedMessage
          "
        >
          <i
            class="rating-icon like fa fa-thumbs-o-up"
            aria-hidden="true"
            (click)="$event.stopPropagation(); onApprove(message._id)"
          ></i>
          <i
            class="rating-icon unlike fa fa-thumbs-o-down"
            aria-hidden="true"
            (click)="$event.stopPropagation(); onReprove(message._id)"
          ></i>
        </div>

        <!-- Rated message -->
        <ng-template #ratedMessage>
          <div class="rating-wrapper">
            <i
              class="rated-icon liked fa fa-thumbs-o-up"
              aria-hidden="true"
              *ngIf="message.role === 'AI' && getMessageFeedback(message._id)"
            ></i>
            <i
              class="rated-icon unliked fa fa-thumbs-o-down"
              aria-hidden="true"
              *ngIf="message.role === 'AI' && !getMessageFeedback(message._id)"
            ></i>
          </div>
        </ng-template>
      </div>

      <!-- Tokens -->
      <div class="message" *ngIf="chatService.tokens">
        <div class="from">
          <strong>{{ chatService.aiEmployee.name }}</strong>
        </div>
        <div class="content">
          <div *ngIf="chatService.thinking.action">
            <strong>Action: </strong>{{ chatService.thinking.action }}
          </div>
          <div *ngIf="chatService.thinking.thought">
            <strong>Thought: </strong>{{ chatService.thinking.thought }}
          </div>
          <div *ngIf="chatService.thinking.answer">
            <strong>Answer: </strong>{{ chatService.thinking.answer }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-field">
    <form class="form-wrapper" (ngSubmit)="onSubmit(f)" #f="ngForm">
      <button
        class="icon material-symbols-outlined"
        matTooltip="Send message"
        type="submit"
      >
        send
      </button>
      <input
        type="text"
        ngModel
        name="message"
        placeholder="Send a message..."
        required
        #inputMessage
      />
    </form>
  </div>
</div>
