<div class="header-container">
  <h2 mat-dialog-title>{{ knowledge ? 'Edit' : 'New' }} knowledge</h2>
  <mat-dialog-actions align="end">
    <button mat-button (click)="closeModal()" class="close-btn">
      <mat-icon>close</mat-icon>
    </button>
  </mat-dialog-actions>
</div>
<mat-dialog-content>
  <form [formGroup]="form">
    <div>
      <input
        matInput
        formControlName="title"
        placeholder="Title"
        required="true"
      />
    </div>
    <md-editor
      formControlName="data"
      height="300px"
      required="true"
      [options]="markdownOptions"
    ></md-editor>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button *ngIf="knowledge" mat-button color="warn" (click)="onRemove()">
    Remove
  </button>

  <span class="spacer"></span>

  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-raised-button
    color="primary"
    (click)="onSave()"
    [disabled]="!form.valid"
  >
    Save
  </button>
</mat-dialog-actions>
<div class="spinner-container" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
