.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container h2 {
  padding: 0 1em;
}

.header-container .close-btn {
  padding: 0;
}

.spacer {
  flex: 1 1 auto;
}

input {
  width: 100%;
  margin: 1.2em 0;
  padding: 0.3em;
}

mat-dialog-content {
  padding: 0.5em 1em !important;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}
