<div class="delete-account-modal" *ngIf="showDeleteConfirmation">
  <div class="modal-content">
    <p>Are you sure you want to delete your account?</p>
    <button (click)="confirmDeleteAccount()">Delete</button>
    <button (click)="cancelDeleteAccount()">Cancel</button>
  </div>
</div>

<header class="header">
  <nav>
    <div class="workspace-info-group">
      <button (click)="onRedirect()">
        <mat-icon svgIcon="arrow-left"></mat-icon>
      </button>
      <div style="display: flex; align-items: center; gap: 2px">
        <img
          class="image-style"
          src="{{ selectedImage || image }}"
          alt="User Image"
        />
        <span>{{ name }}</span>
      </div>
    </div>
  </nav>
</header>
<div class="body">
  <div class="description">
    <h1>{{ name }}'s Settings</h1>
    <span class="adjust-name"
      >Adjust ai-employee-wide settings and preferences here for
      {{ name }}</span
    >
  </div>
  <div class="settings">
    <nav>
      <span
        class="item"
        [class.selected]="selectedItem === 1"
        (click)="selectItem(1)"
        >General</span
      >
    </nav>
    <div class="content">
      <ng-container *ngIf="selectedItem === 1">
        <form
          [formGroup]="updateForm"
          (ngSubmit)="onSubmit()"
          class="container-group"
          enctype="multipart/form-data"
        >
          <p>Select your AI employee avatar</p>
          <div class="avatar"></div>

          <div>
            <div style="flex-direction: column" class="input">
              <p>Ai employee name</p>
              <div style="display: flex; gap: 2px">
                <input
                  type="text"
                  placeholder="Felipe Telles"
                  formControlName="name"
                  [value]="name"
                />
                <button class="button" type="submit">Submit</button>
              </div>
            </div>
            <div style="flex-direction: column" class="input">
              <p>Create a short description for you AI employee</p>
              <div style="display: flex; gap: 2px">
                <input
                  type="text"
                  placeholder="Felipe Telles"
                  formControlName="name"
                  [value]="role"
                />
                <button class="button" type="submit">Submit</button>
              </div>
            </div>
          </div>
        </form>
        <div class="footer">
          <div>
            <span>Delete your account</span>
            <button class="button" (click)="openDeleteAccountModal()">
              delete it
            </button>
          </div>
          <span class="footer-description"
            >Are you sure you want to permanently delete your account? This
            action cannot be undone, and all your data will be lost.
          </span>
        </div>
      </ng-container>
    </div>
  </div>
</div>
