.page {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.chat {
  flex: 1;
}

.cognum-menu {
  z-index: 1;

  header {
    padding-top: 12px;
  }

  button.new-chat {
    width: 100%;
  }

  .category {
    margin-bottom: 24px;

    .title {
      padding-left: 12px;
    }
  }
}

.truncate {
  width: 110px;
}
