<div class="page">
  <div class="cognum-menu">
    <ng-scrollbar
      class="menu-scroll"
      track="vertical"
      visibility="hover"
      [autoHeightDisabled]="false"
    >
      <div class="content">
        <header>
          <div class="pad">
            <button class="new-chat" (click)="onNewChat()" mat-stroked-button>
              <mat-icon>add</mat-icon>
              New Chat
            </button>
          </div>

          <div class="cognum-menu-divisor"></div>

          <div class="category" *ngFor="let category of categories">
            <ng-container *ngIf="categorizedChats[category].chats.length">
              <div class="title cognum-text-12 cognum-font-color-grey-light">
                {{ categorizedChats[category].title }}
              </div>

              <button
                *ngFor="let chat of categorizedChats[category].chats"
                [routerLink]="['./', chat._id]"
                [routerLinkActive]="['active']"
                mat-menu-item
              >
                <div class="content">
                  <div>
                    {{ chat.name || 'New chat' }}
                  </div>
                  <div class="actions">
                    <mat-icon (click)="$event.stopPropagation(); onDelete(chat)"
                      >delete</mat-icon
                    >
                  </div>
                </div>
              </button>
            </ng-container>
          </div>
        </header>
      </div>
    </ng-scrollbar>
  </div>

  <div class="chat">
    <router-outlet></router-outlet>
  </div>
</div>
