<div class="users">
  <div
    class="item"
    *ngFor="let avatar of showAvatars; let i = index"
    [style.background-color]="avatar.backgroundColor"
  >
    <img
      class="avatar"
      *ngIf="avatar.photo"
      [src]="avatar.photo"
      [title]="avatar.name"
    />
    <span *ngIf="!avatar.photo" class="initials">
      {{ avatar.initials }}
    </span>
  </div>
  <div class="item" *ngIf="remainingUsersCount > 0">
    <div class="more-users">{{ remainingUsersCount }}+</div>
  </div>
  <div
    class="item icon"
    [routerLink]="['./', 'settings', 'team']"
    *ngIf="showAdd"
    title="Add new members"
  >
    <mat-icon svgIcon="whiteUser"></mat-icon>
  </div>
</div>
