<div class="users">
  <div
    class="item"
    *ngFor="let avatar of showAvatars; let i = index"
    [style.background-color]="avatar.backgroundColor"
  >
    <div class="avatar-container">
      <img
        class="avatar"
        [ngClass]="{ border: avatars.length > 1 || showAdd }"
        *ngIf="avatar.photo"
        [src]="avatar.photo"
        [title]="avatar.name"
      />
      <div *ngIf="!avatar.photo" class="initials">
        {{ avatar.initials }}
      </div>
      <mat-spinner *ngIf="loading" diameter="32"></mat-spinner>
    </div>
  </div>
  <div class="item" *ngIf="remainingUsersCount > 0">
    <div class="more-users">{{ remainingUsersCount }}+</div>
  </div>
  <div
    class="item icon"
    [routerLink]="['./', 'settings', 'team']"
    *ngIf="showAdd"
    title="Add new members"
  >
    <mat-icon svgIcon="whiteUser"></mat-icon>
  </div>
</div>
