<mat-dialog-content>
  <div class="dialog-header">
    <h2>{{ knowledge.title }}</h2>
    <div class="actions-container">
      <p class="mat-mdc-card-subtitle">
        last updated {{ knowledge.updatedAt ? updatedTimeDifference(knowledge.updatedAt) : 'N/A' }}
      </p>
      <ng-container *ngIf="userHasEditorPermission(knowledge)">
        <knowledge-actions 
          [knowledge]="knowledge" 
          (knowledgeEdited)="handleKnowledgeEdited()" 
          (knowledgeDeleted)="handleKnowledgeDeleted()">
        </knowledge-actions>
        <button class="shared-btn" [ngClass]="{ 'active-btn': isSharedActive }" [matMenuTriggerFor]="shareMenu" (menuOpened)="shareMenuOpened()" (menuClosed)="shareMenuClosed()">
          Shared
        </button>
        <mat-menu #shareMenu="matMenu" id="sharedMenu">
          <div class="divider-container">
            <mat-icon>expand_more</mat-icon>
            <span>Workspace members</span>
          </div>
          <ng-container *ngFor="let member of members">
            <div class="member-container" *ngIf="!isCreator(member)">
              <div class="user-info">
                <cognum-users-avatar [users]="[member]"></cognum-users-avatar>
                <span class="user-name">{{ capitalizeName(member.name) }}</span>
              </div>
              <div class="dropdown-container">
                <mat-select [(value)]="memberPermissions[member._id]" (selectionChange)="setPermission(member, $event.value)">
                  <mat-option value="Editor">editor</mat-option>
                  <mat-option value="Reader">reader</mat-option>
                </mat-select>
              </div>
            </div>
          </ng-container>
        </mat-menu>
        <mat-dialog-actions align="end">
          <button mat-button (click)="closeModal()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-dialog-actions>
      </ng-container>
    </div>
  </div>
  <div class="knowledge-data">
    <p>{{ knowledge.data }}</p>
  </div>
</mat-dialog-content>