@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
.mat-mdc-dialog-content {
  max-height: none;
}

mat-dialog-container {
  width: 300px;
}

mat-dialog-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: inherit !important;
  background-color: #f0f2f5;
  position: relative;
  padding: 0;
}

.close-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.actions-container {
  position: absolute;
  top: 0;
  right: 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}
