<form [formGroup]="workspaceForm" (ngSubmit)="onSubmit()">
  <div class="workspace">
    <h1>What`s the name of you company or team?</h1>
    <p class="inform-style">
      This will be the name of your Cognum workspace - choose something your
      team will recognize.
    </p>

    <div class="cognum-white-content-w720 form-container">
      <div class="cognum-form-row-4">
        <span class="cognum-headline-4">Workspace photo (optional)</span>
        <div class="update-content">
          <div class="file-container">
            <label class="gray-content" for="workspaceFileInput">
              <img
                *ngIf="!!photo; else withoutFile"
                class="workspaceImage"
                src="{{ selectedImage || photo }}"
                alt=""
              />
              <ng-template #withoutFile>
                <img src="../../../assets/icons/Plus.svg" alt="plus" />
                <p class="inform-style">Upload</p>
              </ng-template>
            </label>
            <input
              class="input-style"
              type="file"
              id="workspaceFileInput"
              (change)="onFileSelected($event, 'workspaces', 'photo')"
              name="workspaceFile"
              accept="image/*"
              style="display: none"
            />
            <mat-error
              class="cognum-text-12 warning-message"
              *ngIf="hasInputError('photo', 'invalidFormat')"
            >
              Valid formats: .png, .jpg, .jpeg and .svg
            </mat-error>
            <mat-error
              class="cognum-text-12 warning-message"
              *ngIf="hasInputError('photo', 'invalidSize')"
            >
              Maximum size: 10MB
            </mat-error>
          </div>
          <p class="cognum-text-12">
            Help teammates know that this is right place.
          </p>
          <p class="cognum-text-12" style="width: 50px">&ensp;&ensp;</p>
        </div>
      </div>

      <div class="cognum-form-row-4">
        <span class="cognum-headline-4">Company or team name</span>
        <input class="input-style" formControlName="name" placeholder="Name" />
        <mat-error
          class="cognum-text-12 warning-message"
          *ngIf="hasInputError('name', 'required')"
        >
          Name field is required
        </mat-error>
      </div>

      <div class="cognum-form-row-4">
        <span class="cognum-headline-4">Your workspace access link</span>
        <input
          class="input-style"
          formControlName="link"
          name="workspaceLink"
          placeholder="name.cognum.ai"
        />
        <mat-error
          class="cognum-text-12 warning-message"
          *ngIf="hasInputError('link', 'required')"
        >
          Link field is required
        </mat-error>
      </div>
    </div>

    <button
      type="submit"
      class="cognum-form-buttons-submit"
      [disabled]="!workspaceForm.valid"
    >
      Next
    </button>
  </div>
</form>
