<cognum-default-page [title]="title" [message]="message">
  <ng-container data>
    <form
      class="register-form"
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="mat-item-wrap">
        <div class="mat-input-style">
          <mat-icon matPrefix>person</mat-icon>
          <input
            type="email"
            matInput
            formControlName="email"
            placeholder="name@work-email.com"
            #inputEmail
          />
          <mat-error *ngIf="hasInputError('email', 'required')">
            <small>Email is required.</small>
          </mat-error>
          <mat-error *ngIf="hasInputError('email', 'email')">
            <small>Email is <strong>invalid</strong></small>
          </mat-error>
          <mat-error *ngIf="hasInputError('email', 'emailAlreadyExists')">
            <small>Email <strong>already registered</strong></small>
          </mat-error>
        </div>
      </div>

      <div class="mat-item-wrap">
        <div class="mat-input-style remove-bottom">
          <mat-icon matPrefix>lock</mat-icon>
          <input
            type="password"
            matInput
            formControlName="password"
            placeholder="Your password"
          />
          <mat-error *ngIf="hasInputError('password', 'required')">
            <small>Password is required.</small>
          </mat-error>
          <mat-error *ngIf="hasInputError('password', 'minlength')">
            <small>Minimum <strong>6 characters.</strong></small>
          </mat-error>
        </div>
        <mat-error
          *ngIf="
            !hasInputError('password', 'minlength') &&
            hasInputError('password', 'pattern')
          "
        >
          <small
            >Must contain lowercase and uppercase letters, numbers and special
            characters (!&#64;#$*.,).</small
          >
        </mat-error>
      </div>

      <div slot="error" class="errorContainer" *ngIf="showRegisterError">
        <small>Email or password is incorrect.</small>
      </div>

      <button
        type="submit"
        mat-button
        class="cognum-form-buttons-submit"
        [disabled]="registerForm.invalid || isSubmitting"
      >
        Continue with Email
      </button>
    </form>
  </ng-container>
</cognum-default-page>
