@import '../../../styles/cognum.variables.scss';

.register-form {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-top: 32px;
  gap: 16px;
  align-self: center;
  width: 24.375rem;
  max-width: 500px;
}

.mat-item-wrap {
  width: 100%;
  --mdc-filled-text-field-container-color: #f0f0f0;
}

.mat-input-style {
  display: flex;
  align-items: center;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  background-color: #fff;
  width: 100%;
  height: 40px;
  padding: 8px 12px 8px 12px;
  border-radius: 2px;
  border: 1px;
  gap: 8px;
}

.mat-input-style input {
  margin: 0;
  padding: 0;
}

.mat-input-style mat-icon {
  margin-right: 6px;
  color: $cognum-color-primary;
  font-size: 14px;
  height: 14px;
  width: 14px;
}

.mat-input-style input {
  flex: 1;
  border: none;
  outline: none;
  width: 100%;
}

.errorContainer {
  text-align: center;
  font-weight: 400;
  color: #d9534f;
}
