$fill-color: #14b8a6;
$border-color: #00000040;
$text-color: #00000073;
$text-color-inactive: #00000073;

.stepper-horizontal {
  display: table;
  margin: 0 auto;
  margin-bottom: 10px;

  .step {
    display: table-cell;
    position: relative;
    padding: 1.5rem;
    z-index: 2;
    width: 25%;

    &:last-child .step-bar-right {
      display: none;
    }

    .step-circle {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      text-align: center;
      line-height: 1.75rem;
      font-size: 1rem;
      font-weight: 600;
      z-index: 2;
      border: 2px solid $border-color;
      color: #00000040;
    }

    .step-content {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;
    }

    &.done {
      .step-circle {
        background-color: white;
        border: 2px solid $fill-color;
        color: #ffffff;

        &:before {
          font-family: 'FontAwesome';
          font-weight: 100;
          content: url('../../../assets/icons/Check.svg');
        }

        * {
          display: none;
        }
      }

      .step-title {
        color: $text-color;
      }
    }

    &.editing {
      .step-circle {
        background: $fill-color;
        border-color: $fill-color;
        color: white;
      }

      .step-title {
        color: $fill-color;
      }
    }

    .step-title {
      font-family: 'Outfit', sans-serif;
      font-weight: 400;
      font-style: normal;
      line-height: 24px;
      font-size: 1rem;
    }

    .step-title,
    .step-optional {
      text-align: center;
      color: $text-color-inactive;
    }

    .step-bar-right {
      position: absolute;
      top: calc(2rem + 8px);
      background-color: $border-color;
      border: solid $border-color;
      border-width: 1px 0;
      width: 0;
      left: 50%;
      margin-left: 4rem;
      z-index: -1;
      transition: width 500ms ease-in-out;
    }

    &.done .step-bar-right {
      background-color: $fill-color;
      border-color: $fill-color;
      z-index: 3;
      width: calc(100% - 8rem);
    }
  }
}

@media (max-width: 768px) {
  .stepper-horizontal .step {
    padding: 1rem;
    width: 5%;

    .step-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 6px;
    }
  }
}
